misc/TheMachineSpeaks/noderedflows/individual_flows/mongoUpload.json
[{"id":"263652b2.7fb076","type":"tab","label":"MongoUpload","disabled":false,"info":""},{"id":"bd8e2437.aba578","type":"mongodb out","z":"263652b2.7fb076","mongodb":"e0296a12.6446c","name":"raw","collection":"DATA_RAW","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":790,"y":260,"wires":[]},{"id":"1fb20d3a.6efd63","type":"influxdb in","z":"263652b2.7fb076","influxdb":"95236980.d0724","name":"rawGyro","query":"select * from RAW_GYRO order by time desc limit 50","rawOutput":false,"precision":"","retentionPolicy":"","x":320,"y":220,"wires":[["b4927c79.29f268","b07a293d.1441c"]]},{"id":"2a13cc8a.d9155c","type":"inject","z":"263652b2.7fb076","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":120,"wires":[["1fb20d3a.6efd63","d17848a3.e515b8","c3808bfc.4e7ec8"]]},{"id":"a1df6c03.763788","type":"comment","z":"263652b2.7fb076","name":"serial in 100ms, 10/sec","info":"","x":360,"y":140,"wires":[]},{"id":"2b42d9a9.82af26","type":"comment","z":"263652b2.7fb076","name":"upload 50 / 5sec","info":"","x":340,"y":180,"wires":[]},{"id":"b4927c79.29f268","type":"debug","z":"263652b2.7fb076","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":590,"y":60,"wires":[]},{"id":"33085a0.1c769a6","type":"comment","z":"263652b2.7fb076","name":"upload","info":"","x":790,"y":220,"wires":[]},{"id":"debe1be7.00c318","type":"function","z":"263652b2.7fb076","name":"aggregate raw","func":"\n\nlet gyro = msg.payload[0];\nlet accel = msg.payload[1];\n\n// hard coded GUID for POC\n// GUID should be set dynamically \nlet PatientID = \"6899047e-2a5c-4f7a-973c-d96f899634b7\"\nlet SystemID = \"7a523010-9147-436d-968c-5a8001245834\"\nlet DeviceID = \"bd818a7f-8451-4025-ba4d-66acf5dffbc4\"\n\n\nlet out = [];\nfor(let i = 0; i < 50; i++) {\n    let { time, ...g} = {...gyro[i]};\n    \n    out.push({ \n        ...accel[i], ...g,\n        PatientID: PatientID,\n        SystemID: SystemID,\n        DeviceID: DeviceID\n    })\n}\n\nmsg.payload = out;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":260,"wires":[["bd8e2437.aba578"]]},{"id":"b07a293d.1441c","type":"join","z":"263652b2.7fb076","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":490,"y":260,"wires":[["debe1be7.00c318"]]},{"id":"7b8e2930.ba9088","type":"debug","z":"263652b2.7fb076","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":590,"y":100,"wires":[]},{"id":"d17848a3.e515b8","type":"influxdb in","z":"263652b2.7fb076","influxdb":"95236980.d0724","name":"rawAccel","query":"select * from RAW_ACC order by time limit 50","rawOutput":false,"precision":"","retentionPolicy":"","x":320,"y":260,"wires":[["b07a293d.1441c","7b8e2930.ba9088"]]},{"id":"c3808bfc.4e7ec8","type":"influxdb in","z":"263652b2.7fb076","influxdb":"95236980.d0724","name":"SHAKE","query":"select * from SHAKE order by time limit 10","rawOutput":false,"precision":"","retentionPolicy":"","x":320,"y":320,"wires":[["96a0a87b.1659e"]]},{"id":"a3aaf0bf.43ec38","type":"mongodb out","z":"263652b2.7fb076","mongodb":"e0296a12.6446c","name":"shake","collection":"DATA_SHAKE","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":790,"y":320,"wires":[]},{"id":"96a0a87b.1659e","type":"function","z":"263652b2.7fb076","name":"add ID","func":"console.log(msg.payload[0])\n\n// hard coded GUID for POC\n// GUID should be set dynamically \nlet PatientID = \"6899047e-2a5c-4f7a-973c-d96f899634b7\"\nlet SystemID = \"7a523010-9147-436d-968c-5a8001245834\"\nlet DeviceID = \"bd818a7f-8451-4025-ba4d-66acf5dffbc4\"\n\nlet out = msg.payload.map(item => {\n    return {\n        time: item.time,\n        PatientID: PatientID,\n        trembleRate: item.avg,\n    }\n})\n\n\nmsg.payload = out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":320,"wires":[["a3aaf0bf.43ec38"]]},{"id":"29381ed8.f888d2","type":"comment","z":"263652b2.7fb076","name":"upload 10 / 5sec","info":"","x":340,"y":360,"wires":[]},{"id":"343edb47.d1ae1c","type":"comment","z":"263652b2.7fb076","name":"generate 2/1 sec","info":"","x":340,"y":400,"wires":[]},{"id":"343b8010.213e3","type":"comment","z":"263652b2.7fb076","name":"every 5 sec","info":"","x":110,"y":80,"wires":[]},{"id":"e0296a12.6446c","type":"mongodb","hostname":"iot.mqzkp.mongodb.net","topology":"dnscluster","connectOptions":"retryWrites=true&w=majority","port":"27017","db":"IoT","name":""},{"id":"95236980.d0724","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"PHYS","name":"","usetls":false,"tls":""}]