misc/TheMachineSpeaks/noderedflows/individual_flows/serialRead.json
[{"id":"bce96419.e1c1e8","type":"tab","label":"SerialRead","disabled":false,"info":""},{"id":"2345b78a.85d2e8","type":"comment","z":"bce96419.e1c1e8","name":"rate 10/sec","info":"","x":80,"y":100,"wires":[]},{"id":"e2d71503.ca0788","type":"comment","z":"bce96419.e1c1e8","name":"100ms","info":"","x":70,"y":140,"wires":[]},{"id":"72b1a303.c3ebf4","type":"serial in","z":"bce96419.e1c1e8","name":"serial in","serial":"fb014e59.2ef198","x":70,"y":180,"wires":[["f75f364b.60d5f8","81710a98.675128"]]},{"id":"81710a98.675128","type":"function","z":"bce96419.e1c1e8","name":"parse msg","func":"let arr = msg.payload.split(\",\");\n\nlet acc = { payload: { \"aX\": arr[0], \"aY\": arr[1], \"aZ\": arr[2]} }\nlet gyro = { payload: { \"gX\": arr[3], \"gY\": arr[4], \"gZ\": arr[5]}} \n\nreturn [acc, gyro];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":270,"y":200,"wires":[["60d1fc3b.10da6c","729d4c79.b5cc7c","2365fb80.d9dbe4"],["79c565db.4177ac","bafaaf1f.de3e9","57e7db25.de317c"]]},{"id":"f75f364b.60d5f8","type":"debug","z":"bce96419.e1c1e8","name":"","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":230,"y":100,"wires":[]},{"id":"60d1fc3b.10da6c","type":"debug","z":"bce96419.e1c1e8","name":"acc","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":410,"y":40,"wires":[]},{"id":"79c565db.4177ac","type":"debug","z":"bce96419.e1c1e8","name":"gyro","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":410,"y":100,"wires":[]},{"id":"729d4c79.b5cc7c","type":"influxdb out","z":"bce96419.e1c1e8","influxdb":"95236980.d0724","name":"RAW_ACC","measurement":"RAW_ACC","precision":"","retentionPolicy":"","x":630,"y":220,"wires":[]},{"id":"bafaaf1f.de3e9","type":"influxdb out","z":"bce96419.e1c1e8","influxdb":"95236980.d0724","name":"RAW_GYRO","measurement":"RAW_GYRO","precision":"","retentionPolicy":"","x":630,"y":260,"wires":[]},{"id":"447ee308.af0a4c","type":"comment","z":"bce96419.e1c1e8","name":"Value in G on each axis","info":"","x":660,"y":180,"wires":[]},{"id":"6d7d5216.683efc","type":"comment","z":"bce96419.e1c1e8","name":"Value in deg/sec","info":"","x":640,"y":300,"wires":[]},{"id":"67a0a222.a30144","type":"ui_chart","z":"bce96419.e1c1e8","name":"","group":"ba40bf92.2035f","order":1,"width":"6","height":"3","label":"raw gyro","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"40","removeOlderPoints":"100","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#e12e2e","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":640,"y":520,"wires":[[]]},{"id":"57e7db25.de317c","type":"function","z":"bce96419.e1c1e8","name":"graphing gyro","func":"// console.log(msg.payload.gX);\n\nlet gX = { topic: \"gX\", payload: msg.payload.gX }\nlet gY = { topic: \"gY\", payload: msg.payload.gY }\nlet gZ = { topic: \"gZ\", payload: msg.payload.gZ }\nreturn [ gX, gY, gZ ];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":440,"y":520,"wires":[["67a0a222.a30144"],["67a0a222.a30144"],["67a0a222.a30144"]]},{"id":"fd3b5650.df664","type":"ui_chart","z":"bce96419.e1c1e8","name":"","group":"642dea79.9d277c","order":1,"width":"6","height":"3","label":"raw acc","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"40","removeOlderPoints":"100","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#e12e2e","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":640,"y":460,"wires":[[]]},{"id":"2365fb80.d9dbe4","type":"function","z":"bce96419.e1c1e8","name":"graphing acc","func":"// console.log(msg.payload.gX);\n\nlet aX = { topic: \"aX\", payload: msg.payload.aX }\nlet aY = { topic: \"aY\", payload: msg.payload.aY }\nlet aZ = { topic: \"aZ\", payload: msg.payload.aZ }\n\nreturn [ aX, aY, aZ ];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":430,"y":460,"wires":[["fd3b5650.df664"],["fd3b5650.df664"],["fd3b5650.df664"]]},{"id":"b71a6e1a.522378","type":"comment","z":"bce96419.e1c1e8","name":"graphing accel/gyro data","info":"","x":470,"y":400,"wires":[]},{"id":"93292e1b.7feaf8","type":"comment","z":"bce96419.e1c1e8","name":"format: aX,aY,aZ, gX,gY,gX","info":"","x":130,"y":260,"wires":[]},{"id":"168602f8.91afb5","type":"function","z":"bce96419.e1c1e8","name":"accel","func":"// range [-4, +4]\nconst rand = () => ((Math.random() * 4) - 2).toFixed(4);\n\nlet num = \n    rand().toString() + \",\" + \n    rand().toString() + \",\" +\n    rand().toString() + \",\";\n    \nmsg.payload = num;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":90,"y":660,"wires":[["9f7a08b4.e8184"]]},{"id":"501e7ca3.f797e4","type":"function","z":"bce96419.e1c1e8","name":"","func":"// sensor range [-2000, +2000]\n\n// custom range  [-75, 75]\nconst rand = () => ((Math.random() * 150) - 75).toFixed(4);\n\nlet num = \n    rand().toString() + \",\" + \n    rand().toString() + \",\" +\n    rand().toString() + \",\\r\\n\";\n    \nmsg.payload = num;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":80,"y":620,"wires":[["9f7a08b4.e8184"]]},{"id":"c084580e.da6da8","type":"inject","z":"bce96419.e1c1e8","name":"100ms","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":740,"wires":[["168602f8.91afb5","501e7ca3.f797e4"]]},{"id":"9f7a08b4.e8184","type":"join","z":"bce96419.e1c1e8","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":90,"y":560,"wires":[[]]},{"id":"a416d752.ebecd","type":"comment","z":"bce96419.e1c1e8","name":"simulated data","info":"","x":100,"y":480,"wires":[]},{"id":"5a6a07e9.1f5698","type":"comment","z":"bce96419.e1c1e8","name":"connect to parse msg","info":"","x":120,"y":520,"wires":[]},{"id":"fb014e59.2ef198","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"95236980.d0724","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"PHYS","name":"","usetls":false,"tls":""},{"id":"ba40bf92.2035f","type":"ui_group","name":"RawGyro","tab":"a28eb35.967c7d","order":3,"disp":true,"width":"6","collapse":false},{"id":"642dea79.9d277c","type":"ui_group","name":"RawAcc","tab":"a28eb35.967c7d","order":1,"disp":true,"width":"6","collapse":false},{"id":"a28eb35.967c7d","type":"ui_tab","name":"PhysData","icon":"dashboard","disabled":false,"hidden":false}]