misc/TheMachineSpeaks/noderedflows/individual_flows/shaketest.json
[{"id":"2dba98a8.da8008","type":"tab","label":"ShakeTest","disabled":false,"info":""},{"id":"acb8729e.2feb78","type":"influxdb in","z":"2dba98a8.da8008","influxdb":"95236980.d0724","name":"raw_GYRO latest 5","query":"select * from RAW_GYRO order by time desc limit 5","rawOutput":false,"precision":"","retentionPolicy":"","x":110,"y":260,"wires":[["66e8264e.8c9468","429d3251.b497f4"]]},{"id":"9b7ba04e.0d61e","type":"comment","z":"2dba98a8.da8008","name":"data is saved at 10/ sec","info":"","x":120,"y":40,"wires":[]},{"id":"d90d0cf1.ac8dc","type":"comment","z":"2dba98a8.da8008","name":"processing pack of 5 -> 1 per .5 sec","info":"","x":160,"y":80,"wires":[]},{"id":"6a9261a4.96ca","type":"inject","z":"2dba98a8.da8008","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":180,"wires":[["acb8729e.2feb78"]]},{"id":"66e8264e.8c9468","type":"debug","z":"2dba98a8.da8008","name":"read data","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":320,"y":120,"wires":[]},{"id":"429d3251.b497f4","type":"function","z":"2dba98a8.da8008","name":"parse","func":"// [ {time, gX, gY, gZ }]\n\nlet arr = msg.payload;\n\nlet time = { topic: \"time\", payload: arr[2].time._nanoISO }\n\n// console.log(\">\", msg.payload[0].gX == null)\n\nlet arrX = {}; arrX.topic = \"arrX\"\nlet arrY = {}; arrY.topic = \"arrY\";\nlet arrZ = {}; arrZ.topic = \"arrY\";\n\narrY.payload = arr.map(y => y.gY);\narrX.payload = arr.map(x => x.gX);\narrZ.payload = arr.map(z => z.gZ);\n\nreturn [ time, arrX, arrY, arrZ];\n\n\n// \"time\":\"2020-10-21T19:04:58.101Z\",\n// \"gX\":\"0.2441\",\n// \"gY\":\"0.2441\",\n// \"gZ\":\"0.1221\"}\n","outputs":4,"noerr":0,"initialize":"","finalize":"","x":310,"y":280,"wires":[["75f9917.83c2ff","d7abc04e.bf4d18"],["ee252def.4d8f18","26a112ef.397046"],["89780f1d.921bb8"],["2d0bdf93.1f6458"]]},{"id":"75f9917.83c2ff","type":"debug","z":"2dba98a8.da8008","name":"mean time","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":510,"y":60,"wires":[]},{"id":"ee252def.4d8f18","type":"debug","z":"2dba98a8.da8008","name":"axis array","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":500,"y":120,"wires":[]},{"id":"26a112ef.397046","type":"function","z":"2dba98a8.da8008","name":"x shake","func":"let arr = msg.payload.map(s => parseFloat(s));\n\narr = arr.filter(e => !Number.isNaN(e));\n\n// set min max \nlet min = Math.min(...arr);\nlet max = Math.max(...arr);\n\n// get shake intensity\nlet shake = Math.abs(max - min).toFixed(4);\n\n// err check\nif (shake < 0) console.log(\"ohboy, im shooked X\");\n\nmsg.topic = \"shakeX\";\nmsg.payload = shake;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":300,"wires":[["1cab76a8.3e1391","d7abc04e.bf4d18"]]},{"id":"2d0bdf93.1f6458","type":"function","z":"2dba98a8.da8008","name":"z shake","func":"let arr = msg.payload.map(s => parseFloat(s));\n\narr = arr.filter(e => !Number.isNaN(e));\n\n// set min max \nlet min = Math.min(...arr);\nlet max = Math.max(...arr);\n\n// get shake intensity\nlet shake = Math.abs(max - min).toFixed(4);\n\n// err check\nif (shake < 0) console.log(\"ohboy, im shooked Z\");\n\nmsg.topic = \"shakeZ\";\nmsg.payload = shake;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":380,"wires":[["d7abc04e.bf4d18"]]},{"id":"89780f1d.921bb8","type":"function","z":"2dba98a8.da8008","name":"y shake","func":"let arr = msg.payload.map(s => parseFloat(s));\n\narr = arr.filter(e => !Number.isNaN(e));\n\n// set min max \nlet min = Math.min(...arr);\nlet max = Math.max(...arr);\n\n// get shake intensity\nlet shake = Math.abs(max - min).toFixed(4);\n\n// err check\nif (shake < 0) console.log(\"ohboy, im shooked Y\");\n\nmsg.topic = \"shakeY\";\nmsg.payload = shake;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":340,"wires":[["d7abc04e.bf4d18"]]},{"id":"1cab76a8.3e1391","type":"debug","z":"2dba98a8.da8008","name":"shake","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":630,"y":180,"wires":[]},{"id":"a37adda1.7f1188","type":"function","z":"2dba98a8.da8008","name":"shakeIntensity","func":"let obj = msg.payload;\n\nlet shake = (\n    (parseFloat(obj.shakeX) + \n     parseFloat(obj.shakeY) + \n     parseFloat(obj.shakeZ)) /3\n    ).toFixed(4);\n    \nmsg.topic = \"avg\";\nmsg.payload = {\n    avg: shake.toString(),\n    shX: obj.shakeX,\n    shY: obj.shakeY,\n    shZ: obj.shakeZ,\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":260,"wires":[["6ddee01b.c43568","86f5051f.90e528","51da4f11.e7c8e"]]},{"id":"d7abc04e.bf4d18","type":"join","z":"2dba98a8.da8008","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":650,"y":260,"wires":[["a37adda1.7f1188"]]},{"id":"6ddee01b.c43568","type":"debug","z":"2dba98a8.da8008","name":"processed payload","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":970,"y":160,"wires":[]},{"id":"86f5051f.90e528","type":"influxdb out","z":"2dba98a8.da8008","influxdb":"95236980.d0724","name":"SHAKE","measurement":"SHAKE","precision":"","retentionPolicy":"","x":1060,"y":360,"wires":[]},{"id":"51da4f11.e7c8e","type":"function","z":"2dba98a8.da8008","name":"","func":"// graph Shake\n// console.log(msg.payload.avg)\n\nlet avg = { payload: msg.payload.avg, topic: \"avg\" }\n\nlet status = \"\";\n\nif (msg.payload.avg < 8) status = \"stable\";\nelse if (msg.payload.avg < 50) status = \"light tremble\";\nelse status = \"heavy tremble\";\n\nlet status_msg = { topic: \"status\", payload: status }\n\nreturn [avg, status_msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":860,"y":500,"wires":[["4ec58164.44b6a8"],["d3b9b02e.12ae48"]]},{"id":"4ec58164.44b6a8","type":"ui_chart","z":"2dba98a8.da8008","name":"","group":"264685b9.24ebf2","order":2,"width":0,"height":0,"label":"TrembleTest","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"40","removeOlderPoints":"50","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1030,"y":500,"wires":[[]]},{"id":"d3b9b02e.12ae48","type":"ui_text","z":"2dba98a8.da8008","group":"264685b9.24ebf2","order":3,"width":0,"height":0,"name":"","label":"status","format":"{{msg.payload}}","layout":"row-spread","x":1010,"y":540,"wires":[]},{"id":"540381fa.47e2d","type":"comment","z":"2dba98a8.da8008","name":"processed data db","info":"","x":1090,"y":320,"wires":[]},{"id":"d2822f66.d550e","type":"comment","z":"2dba98a8.da8008","name":"graph processed data","info":"","x":1060,"y":460,"wires":[]},{"id":"95236980.d0724","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"PHYS","name":"","usetls":false,"tls":""},{"id":"264685b9.24ebf2","type":"ui_group","name":"ShakeTest","tab":"a28eb35.967c7d","order":3,"disp":true,"width":"6","collapse":false},{"id":"a28eb35.967c7d","type":"ui_tab","name":"PhysData","icon":"dashboard","disabled":false,"hidden":false}]