misc/TheMachineSpeaks/noderedflows/complete_flow/complete_flow.json
[{"id":"bce96419.e1c1e8","type":"tab","label":"SerialRead","disabled":false,"info":""},{"id":"2dba98a8.da8008","type":"tab","label":"ShakeTest","disabled":false,"info":""},{"id":"263652b2.7fb076","type":"tab","label":"MongoUpload","disabled":false,"info":""},{"id":"fb014e59.2ef198","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"95236980.d0724","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"PHYS","name":"","usetls":false,"tls":""},{"id":"e0296a12.6446c","type":"mongodb","hostname":"iot.mqzkp.mongodb.net","topology":"dnscluster","connectOptions":"retryWrites=true&w=majority","port":"27017","db":"IoT","name":""},{"id":"a28eb35.967c7d","type":"ui_tab","name":"PhysData","icon":"dashboard","disabled":false,"hidden":false},{"id":"1ad9d07f.e65358","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"264685b9.24ebf2","type":"ui_group","name":"ShakeTest","tab":"a28eb35.967c7d","order":3,"disp":true,"width":"6","collapse":false},{"id":"642dea79.9d277c","type":"ui_group","name":"RawAcc","tab":"a28eb35.967c7d","order":1,"disp":true,"width":"6","collapse":false},{"id":"81e75fe5.a63158","type":"serial-port","serialport":"","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"ba40bf92.2035f","type":"ui_group","name":"RawGyro","tab":"a28eb35.967c7d","order":3,"disp":true,"width":"6","collapse":false},{"id":"907d6c4f.7550d","type":"ui_spacer","name":"spacer","group":"642dea79.9d277c","order":1,"width":1,"height":1},{"id":"d1b6c13c.cc1a38","type":"ui_spacer","name":"spacer","group":"ba40bf92.2035f","order":3,"width":1,"height":1},{"id":"2345b78a.85d2e8","type":"comment","z":"bce96419.e1c1e8","name":"rate 10/sec","info":"","x":80,"y":100,"wires":[]},{"id":"e2d71503.ca0788","type":"comment","z":"bce96419.e1c1e8","name":"100ms","info":"","x":70,"y":140,"wires":[]},{"id":"72b1a303.c3ebf4","type":"serial in","z":"bce96419.e1c1e8","name":"serial in","serial":"fb014e59.2ef198","x":70,"y":180,"wires":[["f75f364b.60d5f8","81710a98.675128"]]},{"id":"81710a98.675128","type":"function","z":"bce96419.e1c1e8","name":"parse msg","func":"let arr = msg.payload.split(\",\");\n\nlet acc = { payload: { \"aX\": arr[0], \"aY\": arr[1], \"aZ\": arr[2]} }\nlet gyro = { payload: { \"gX\": arr[3], \"gY\": arr[4], \"gZ\": arr[5]}} \n\nreturn [acc, gyro];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":270,"y":200,"wires":[["60d1fc3b.10da6c","729d4c79.b5cc7c","2365fb80.d9dbe4"],["79c565db.4177ac","bafaaf1f.de3e9","57e7db25.de317c"]]},{"id":"f75f364b.60d5f8","type":"debug","z":"bce96419.e1c1e8","name":"","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":230,"y":100,"wires":[]},{"id":"60d1fc3b.10da6c","type":"debug","z":"bce96419.e1c1e8","name":"acc","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":410,"y":40,"wires":[]},{"id":"79c565db.4177ac","type":"debug","z":"bce96419.e1c1e8","name":"gyro","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":410,"y":100,"wires":[]},{"id":"729d4c79.b5cc7c","type":"influxdb out","z":"bce96419.e1c1e8","influxdb":"95236980.d0724","name":"RAW_ACC","measurement":"RAW_ACC","precision":"","retentionPolicy":"","x":630,"y":220,"wires":[]},{"id":"bafaaf1f.de3e9","type":"influxdb out","z":"bce96419.e1c1e8","influxdb":"95236980.d0724","name":"RAW_GYRO","measurement":"RAW_GYRO","precision":"","retentionPolicy":"","x":630,"y":260,"wires":[]},{"id":"447ee308.af0a4c","type":"comment","z":"bce96419.e1c1e8","name":"Value in G on each axis","info":"","x":660,"y":180,"wires":[]},{"id":"6d7d5216.683efc","type":"comment","z":"bce96419.e1c1e8","name":"Value in deg/sec","info":"","x":640,"y":300,"wires":[]},{"id":"acb8729e.2feb78","type":"influxdb in","z":"2dba98a8.da8008","influxdb":"95236980.d0724","name":"raw_GYRO latest 5","query":"select * from RAW_GYRO order by time desc limit 5","rawOutput":false,"precision":"","retentionPolicy":"","x":110,"y":260,"wires":[["66e8264e.8c9468","429d3251.b497f4"]]},{"id":"9b7ba04e.0d61e","type":"comment","z":"2dba98a8.da8008","name":"data is saved at 10/ sec","info":"","x":120,"y":40,"wires":[]},{"id":"d90d0cf1.ac8dc","type":"comment","z":"2dba98a8.da8008","name":"processing pack of 5 -> 1 per .5 sec","info":"","x":160,"y":80,"wires":[]},{"id":"6a9261a4.96ca","type":"inject","z":"2dba98a8.da8008","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":180,"wires":[["acb8729e.2feb78"]]},{"id":"66e8264e.8c9468","type":"debug","z":"2dba98a8.da8008","name":"read data","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":320,"y":120,"wires":[]},{"id":"429d3251.b497f4","type":"function","z":"2dba98a8.da8008","name":"parse","func":"// [ {time, gX, gY, gZ }]\n\nlet arr = msg.payload;\n\nlet time = { topic: \"time\", payload: arr[2].time._nanoISO }\n\n// console.log(\">\", msg.payload[0].gX == null)\n\nlet arrX = {}; arrX.topic = \"arrX\"\nlet arrY = {}; arrY.topic = \"arrY\";\nlet arrZ = {}; arrZ.topic = \"arrY\";\n\narrY.payload = arr.map(y => y.gY);\narrX.payload = arr.map(x => x.gX);\narrZ.payload = arr.map(z => z.gZ);\n\nreturn [ time, arrX, arrY, arrZ];\n\n\n// \"time\":\"2020-10-21T19:04:58.101Z\",\n// \"gX\":\"0.2441\",\n// \"gY\":\"0.2441\",\n// \"gZ\":\"0.1221\"}\n","outputs":4,"noerr":0,"initialize":"","finalize":"","x":310,"y":280,"wires":[["75f9917.83c2ff","d7abc04e.bf4d18"],["ee252def.4d8f18","26a112ef.397046"],["89780f1d.921bb8"],["2d0bdf93.1f6458"]]},{"id":"75f9917.83c2ff","type":"debug","z":"2dba98a8.da8008","name":"mean time","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":510,"y":60,"wires":[]},{"id":"ee252def.4d8f18","type":"debug","z":"2dba98a8.da8008","name":"axis array","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":500,"y":120,"wires":[]},{"id":"26a112ef.397046","type":"function","z":"2dba98a8.da8008","name":"x shake","func":"let arr = msg.payload.map(s => parseFloat(s));\n\narr = arr.filter(e => !Number.isNaN(e));\n\n// set min max \nlet min = Math.min(...arr);\nlet max = Math.max(...arr);\n\n// get shake intensity\nlet shake = Math.abs(max - min).toFixed(4);\n\n// err check\nif (shake < 0) console.log(\"ohboy, im shooked X\");\n\nmsg.topic = \"shakeX\";\nmsg.payload = shake;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":300,"wires":[["1cab76a8.3e1391","d7abc04e.bf4d18"]]},{"id":"2d0bdf93.1f6458","type":"function","z":"2dba98a8.da8008","name":"z shake","func":"let arr = msg.payload.map(s => parseFloat(s));\n\narr = arr.filter(e => !Number.isNaN(e));\n\n// set min max \nlet min = Math.min(...arr);\nlet max = Math.max(...arr);\n\n// get shake intensity\nlet shake = Math.abs(max - min).toFixed(4);\n\n// err check\nif (shake < 0) console.log(\"ohboy, im shooked Z\");\n\nmsg.topic = \"shakeZ\";\nmsg.payload = shake;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":380,"wires":[["d7abc04e.bf4d18"]]},{"id":"89780f1d.921bb8","type":"function","z":"2dba98a8.da8008","name":"y shake","func":"let arr = msg.payload.map(s => parseFloat(s));\n\narr = arr.filter(e => !Number.isNaN(e));\n\n// set min max \nlet min = Math.min(...arr);\nlet max = Math.max(...arr);\n\n// get shake intensity\nlet shake = Math.abs(max - min).toFixed(4);\n\n// err check\nif (shake < 0) console.log(\"ohboy, im shooked Y\");\n\nmsg.topic = \"shakeY\";\nmsg.payload = shake;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":340,"wires":[["d7abc04e.bf4d18"]]},{"id":"1cab76a8.3e1391","type":"debug","z":"2dba98a8.da8008","name":"shake","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":630,"y":180,"wires":[]},{"id":"a37adda1.7f1188","type":"function","z":"2dba98a8.da8008","name":"shakeIntensity","func":"let obj = msg.payload;\n\nlet shake = (\n    (parseFloat(obj.shakeX) + \n     parseFloat(obj.shakeY) + \n     parseFloat(obj.shakeZ)) /3\n    ).toFixed(4);\n    \nmsg.topic = \"avg\";\nmsg.payload = {\n    avg: shake.toString(),\n    shX: obj.shakeX,\n    shY: obj.shakeY,\n    shZ: obj.shakeZ,\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":260,"wires":[["6ddee01b.c43568","86f5051f.90e528","51da4f11.e7c8e"]]},{"id":"d7abc04e.bf4d18","type":"join","z":"2dba98a8.da8008","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":650,"y":260,"wires":[["a37adda1.7f1188"]]},{"id":"6ddee01b.c43568","type":"debug","z":"2dba98a8.da8008","name":"processed payload","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":970,"y":160,"wires":[]},{"id":"86f5051f.90e528","type":"influxdb out","z":"2dba98a8.da8008","influxdb":"95236980.d0724","name":"SHAKE","measurement":"SHAKE","precision":"","retentionPolicy":"","x":1060,"y":360,"wires":[]},{"id":"bd8e2437.aba578","type":"mongodb out","z":"263652b2.7fb076","mongodb":"e0296a12.6446c","name":"raw","collection":"DATA_RAW","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":790,"y":260,"wires":[]},{"id":"1fb20d3a.6efd63","type":"influxdb in","z":"263652b2.7fb076","influxdb":"95236980.d0724","name":"rawGyro","query":"select * from RAW_GYRO order by time desc limit 50","rawOutput":false,"precision":"","retentionPolicy":"","x":320,"y":220,"wires":[["b4927c79.29f268","b07a293d.1441c"]]},{"id":"2a13cc8a.d9155c","type":"inject","z":"263652b2.7fb076","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":120,"wires":[["1fb20d3a.6efd63","d17848a3.e515b8","c3808bfc.4e7ec8"]]},{"id":"a1df6c03.763788","type":"comment","z":"263652b2.7fb076","name":"serial in 100ms, 10/sec","info":"","x":360,"y":140,"wires":[]},{"id":"2b42d9a9.82af26","type":"comment","z":"263652b2.7fb076","name":"upload 50 / 5sec","info":"","x":340,"y":180,"wires":[]},{"id":"b4927c79.29f268","type":"debug","z":"263652b2.7fb076","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":590,"y":60,"wires":[]},{"id":"67a0a222.a30144","type":"ui_chart","z":"bce96419.e1c1e8","name":"","group":"ba40bf92.2035f","order":1,"width":"6","height":"3","label":"raw gyro","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"40","removeOlderPoints":"100","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#e12e2e","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":640,"y":520,"wires":[[]]},{"id":"57e7db25.de317c","type":"function","z":"bce96419.e1c1e8","name":"graphing gyro","func":"// console.log(msg.payload.gX);\n\nlet gX = { topic: \"gX\", payload: msg.payload.gX }\nlet gY = { topic: \"gY\", payload: msg.payload.gY }\nlet gZ = { topic: \"gZ\", payload: msg.payload.gZ }\nreturn [ gX, gY, gZ ];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":440,"y":520,"wires":[["67a0a222.a30144"],["67a0a222.a30144"],["67a0a222.a30144"]]},{"id":"fd3b5650.df664","type":"ui_chart","z":"bce96419.e1c1e8","name":"","group":"642dea79.9d277c","order":1,"width":"6","height":"3","label":"raw acc","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"40","removeOlderPoints":"100","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#e12e2e","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":640,"y":460,"wires":[[]]},{"id":"2365fb80.d9dbe4","type":"function","z":"bce96419.e1c1e8","name":"graphing acc","func":"// console.log(msg.payload.gX);\n\nlet aX = { topic: \"aX\", payload: msg.payload.aX }\nlet aY = { topic: \"aY\", payload: msg.payload.aY }\nlet aZ = { topic: \"aZ\", payload: msg.payload.aZ }\n\nreturn [ aX, aY, aZ ];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":430,"y":460,"wires":[["fd3b5650.df664"],["fd3b5650.df664"],["fd3b5650.df664"]]},{"id":"51da4f11.e7c8e","type":"function","z":"2dba98a8.da8008","name":"","func":"// graph Shake\n// console.log(msg.payload.avg)\n\nlet avg = { payload: msg.payload.avg, topic: \"avg\" }\n\nlet status = \"\";\n\nif (msg.payload.avg < 8) status = \"stable\";\nelse if (msg.payload.avg < 50) status = \"light tremble\";\nelse status = \"heavy tremble\";\n\nlet status_msg = { topic: \"status\", payload: status }\n\nreturn [avg, status_msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":860,"y":500,"wires":[["4ec58164.44b6a8"],["d3b9b02e.12ae48"]]},{"id":"4ec58164.44b6a8","type":"ui_chart","z":"2dba98a8.da8008","name":"","group":"264685b9.24ebf2","order":2,"width":0,"height":0,"label":"TrembleTest","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"40","removeOlderPoints":"50","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1030,"y":500,"wires":[[]]},{"id":"d3b9b02e.12ae48","type":"ui_text","z":"2dba98a8.da8008","group":"264685b9.24ebf2","order":3,"width":0,"height":0,"name":"","label":"status","format":"{{msg.payload}}","layout":"row-spread","x":1010,"y":540,"wires":[]},{"id":"b71a6e1a.522378","type":"comment","z":"bce96419.e1c1e8","name":"graphing accel/gyro data","info":"","x":470,"y":400,"wires":[]},{"id":"540381fa.47e2d","type":"comment","z":"2dba98a8.da8008","name":"processed data db","info":"","x":1090,"y":320,"wires":[]},{"id":"d2822f66.d550e","type":"comment","z":"2dba98a8.da8008","name":"graph processed data","info":"","x":1060,"y":460,"wires":[]},{"id":"33085a0.1c769a6","type":"comment","z":"263652b2.7fb076","name":"upload","info":"","x":790,"y":220,"wires":[]},{"id":"debe1be7.00c318","type":"function","z":"263652b2.7fb076","name":"aggregate raw","func":"\n\nlet gyro = msg.payload[0];\nlet accel = msg.payload[1];\n\n// hard coded GUID for POC\n// GUID should be set dynamically \nlet PatientID = \"6899047e-2a5c-4f7a-973c-d96f899634b7\"\nlet SystemID = \"7a523010-9147-436d-968c-5a8001245834\"\nlet DeviceID = \"bd818a7f-8451-4025-ba4d-66acf5dffbc4\"\n\n\nlet out = [];\nfor(let i = 0; i < 50; i++) {\n    let { time, ...g} = {...gyro[i]};\n    \n    out.push({ \n        ...accel[i], ...g,\n        PatientID: PatientID,\n        SystemID: SystemID,\n        DeviceID: DeviceID\n    })\n}\n\nmsg.payload = out;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":260,"wires":[["bd8e2437.aba578"]]},{"id":"b07a293d.1441c","type":"join","z":"263652b2.7fb076","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":490,"y":260,"wires":[["debe1be7.00c318"]]},{"id":"7b8e2930.ba9088","type":"debug","z":"263652b2.7fb076","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":590,"y":100,"wires":[]},{"id":"93292e1b.7feaf8","type":"comment","z":"bce96419.e1c1e8","name":"format: aX,aY,aZ, gX,gY,gX","info":"","x":130,"y":260,"wires":[]},{"id":"d17848a3.e515b8","type":"influxdb in","z":"263652b2.7fb076","influxdb":"95236980.d0724","name":"rawAccel","query":"select * from RAW_ACC order by time limit 50","rawOutput":false,"precision":"","retentionPolicy":"","x":320,"y":260,"wires":[["b07a293d.1441c","7b8e2930.ba9088"]]},{"id":"c3808bfc.4e7ec8","type":"influxdb in","z":"263652b2.7fb076","influxdb":"95236980.d0724","name":"SHAKE","query":"select * from SHAKE order by time limit 10","rawOutput":false,"precision":"","retentionPolicy":"","x":320,"y":320,"wires":[["96a0a87b.1659e"]]},{"id":"a3aaf0bf.43ec38","type":"mongodb out","z":"263652b2.7fb076","mongodb":"e0296a12.6446c","name":"shake","collection":"DATA_SHAKE","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":790,"y":320,"wires":[]},{"id":"96a0a87b.1659e","type":"function","z":"263652b2.7fb076","name":"add ID","func":"console.log(msg.payload[0])\n\n// hard coded GUID for POC\n// GUID should be set dynamically \nlet PatientID = \"6899047e-2a5c-4f7a-973c-d96f899634b7\"\nlet SystemID = \"7a523010-9147-436d-968c-5a8001245834\"\nlet DeviceID = \"bd818a7f-8451-4025-ba4d-66acf5dffbc4\"\n\nlet out = msg.payload.map(item => {\n    return {\n        time: item.time,\n        PatientID: PatientID,\n        trembleRate: item.avg,\n    }\n})\n\n\nmsg.payload = out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":320,"wires":[["a3aaf0bf.43ec38"]]},{"id":"29381ed8.f888d2","type":"comment","z":"263652b2.7fb076","name":"upload 10 / 5sec","info":"","x":340,"y":360,"wires":[]},{"id":"343edb47.d1ae1c","type":"comment","z":"263652b2.7fb076","name":"generate 2/1 sec","info":"","x":340,"y":400,"wires":[]},{"id":"343b8010.213e3","type":"comment","z":"263652b2.7fb076","name":"every 5 sec","info":"","x":110,"y":80,"wires":[]},{"id":"168602f8.91afb5","type":"function","z":"bce96419.e1c1e8","name":"accel","func":"// range [-4, +4]\nconst rand = () => ((Math.random() * 4) - 2).toFixed(4);\n\nlet num = \n    rand().toString() + \",\" + \n    rand().toString() + \",\" +\n    rand().toString() + \",\";\n    \nmsg.payload = num;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":90,"y":660,"wires":[["9f7a08b4.e8184"]]},{"id":"501e7ca3.f797e4","type":"function","z":"bce96419.e1c1e8","name":"","func":"// sensor range [-2000, +2000]\n\n// custom range  [-75, 75]\nconst rand = () => ((Math.random() * 150) - 75).toFixed(4);\n\nlet num = \n    rand().toString() + \",\" + \n    rand().toString() + \",\" +\n    rand().toString() + \",\\r\\n\";\n    \nmsg.payload = num;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":80,"y":620,"wires":[["9f7a08b4.e8184"]]},{"id":"c084580e.da6da8","type":"inject","z":"bce96419.e1c1e8","name":"100ms","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":740,"wires":[["168602f8.91afb5","501e7ca3.f797e4"]]},{"id":"9f7a08b4.e8184","type":"join","z":"bce96419.e1c1e8","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":90,"y":560,"wires":[[]]},{"id":"a416d752.ebecd","type":"comment","z":"bce96419.e1c1e8","name":"simulated data","info":"","x":100,"y":480,"wires":[]},{"id":"5a6a07e9.1f5698","type":"comment","z":"bce96419.e1c1e8","name":"connect to parse msg","info":"","x":120,"y":520,"wires":[]}]